---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Full list is available at <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
<br/> <br/>



<b>Selected Publications</b>
<hr/>

<ul>

<li> M. Trzeciak, K. Pluta, <b>Y. Fathy</b>, L. Alcalde, S. Chee and et al., <a href=https://ascelibrary.org/doi/abs/10.1061/JCCEE5.CPENG-5212>ConSLAM: Construction Data Set for SLAM</a> Journal of Computing in Civil Engineering 37 (3), 2023 </li>

<li> M. Sasid, ME. Torbaghan, <b>Y. Fathy</b>, CDF. Rogers, N. Metje and et al., <a href=https://www.sciencedirect.com/science/article/pii/S2772424723000203>Designing user-centric transport strategies for urban road space redistribution</a> Communications in Transportation Research 3, 2023 </li>

<li> M. Trzeciak, K. Pluta, <b>Y Fathy</b>, L. Alcalde, S. Chee and et al., <a href=https://link.springer.com/chapter/10.1007/978-3-031-25082-8_21>ConSLAM: Periodically Collected Real-World Construction Dataset for SLAM and Progress Monitoring</a> ECCV workshop, 2022 </li>


<li> <b>Y. Fathy</b>, M.Jaber and Z. Nadeem, <a href=https://doi.org/10.3390/jsan10020037>Digital Twin-driven Decision Making and Planning for Energy Consumption </a> Journal of Sensor and Actuator Networks: Special Issue on Machine Learning in IoT Networking and Communications, 2021 </li>

<li> PW. Harrison, R. Lopez, N. Rahman, SG. Allen, R. Aslam, N. Buso, C. Cummins, <b>Y. Fathy</b>, E. Felix, M. Glont, S. Jayathilaka, et. al, <a href=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8218199/>The COVID-19 Data Portal: accelerating SARS-CoV-2 and COVID-19 research through rapid open access data sharing</a>, Nucleic Acids Research, 2021


<li> <b>Y. Fathy</b>, M.Jaber and A. Brintrup, <a href=https://ieeexplore.ieee.org/document/9309288/>Learning with Imbalanced Data in Smart Manufacturing: A Comparative Analysis</a>, IEEE Access  Journal, 2020


<li> <b>Y. Fathy</b>, P. Barnaghi and R. Tafazolli, <a href=https://dl.acm.org/citation.cfm?id=3154525> Large-Scale Indexing, Discovery and Ranking for the Internet of Things (IoT)</a>, ACM Computing Surveys, 2018



</ul>

<script> /***
{% include base_path %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
***/ </script>

