---
layout: archive
title: "Teaching & Supervision"
permalink: /teaching/
author_profile: true
---
<script> /***
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
***/ </script>

<br/>
<b> University of Cambridge, Engineering Department</b>
<ul>
	<li> Supervisor - Foundation of Data Science Course at Girton, Peterhouse & St John's Colleges (Oct 2021 - Feb 2022)
	<li/> Co-supervising - 2 PhD students  (May 2021 - Aug 2022) <br/>
	<b>Topics:</b> <br/>
	-  Updating Building Digital Twin Geometry from Spatial and Visual Data  <br/>
	-  Automation of Geometric Digital Twin Generation for Buildings
  <li/> MPhil Dissertation Main Supervisor  (Jan 2020 - May 2020)<br/>
  <b>Topic:</b> Collaborative Analytics Framework for Manufacturing Applications
</ul>

<br/>

<b> University College of London, Computer Science Department</b>
<ul>
  <li/> MSc Thesis Co-supervisor  (May 2019 - Aug 2019)<br/>
  <b>Topic:</b> Analysis of the Bipartite Network of Recruitment Records
</ul>

<br/>

<b> University of Surrey, Engineering Department</b>
<ul>
  <li/> Laboratory Demonstrator (Jan 2015 - Jan 2018)<br/>
  <b>Courses:</b> Artificial Intelligence, Collective Intelligence, Object Oriented Design, Team Working, Leadership, Computer and Digital Logic
</ul>

<br/>
<b> Helwan University, Computer Science</b>
<ul>
  <li/> Teaching Assistant (Dec 2010 - Sept 2012)<br/>
  <b>Courses:</b> Concepts of Programming Language, Image Processing, Software Engineering, Operating System, Probability and Statistics I
</ul>
